<div>
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light"
            style="display: inline-block !important;width: 20vw;height: 50em;"
            data-sly-resource="${'container' @ resourceType='/apps/core/wcm/components/container/v1/container'}"></div>
        <div style="width: 79vw;height: 50em;display: inline-block; vertical-align: top;padding: 20px;">
            <div>
                <div class="d-flex mb-5">
                	<div style="width:20vw" class="me-5" data-sly-resource="${'image' @ resourceType='aemtutorials/components/content/image'}"></div>
                    <div style="width:70vw" class="ms-1" data-sly-resource="${'container1' @ resourceType='/apps/core/wcm/components/container/v1/container'}">
                    </div>
                </div>
                <div>
                	<div class="mb-4" data-sly-resource="${'container3' @ resourceType='/apps/core/wcm/components/container/v1/container'}">
                    </div>
                </div>
            </div>
        </div>
    </div>