
<div>
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
		<li class="nav navbar-nav navbar-left" data-sly-repeat="${currentPage.listChildren}">
            <a href="${item.path}.html">${item.title}</a>
        </li>
    </ul>
    <hr>
</div>
