<div class="d-flex justify-content-between py-3 my-1 border-top bg-light">
    <p>© 2022 FPT Software</p>
    <ul class="list-unstyled d-flex">
        <li class="ms-3"><i class="fa-brands fa-facebook"></i></li>
        <li class="ms-3"><i class="fa-brands fa-instagram"></i></li>
        <li class="ms-3"><i class="fa-brands fa-twitter"></i></li>
    </ul>
</div>