<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"/>
<sly data-sly-call="${template.placeholder @ isEmpty=!properties.image}"/>

<sly data-sly-test="${properties.imageRef || properties.altText}">
    <img style="width: 100%;" src="${properties.imageRef}" alt="${properties.altText}"/>
</sly>