<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html" />
    <sly data-sly-call="${template.placeholder @ isEmpty=!properties.name}" />
    <sly data-sly-test="${properties.name}">
        <h3>Name: ${properties.name}</h3>
    </sly>
    <ul>

        <sly data-sly-call="${template.placeholder @ isEmpty=!properties.email}" />
        <sly data-sly-test="${properties.email}">
            <li>Email: ${properties.email}</li>
        </sly>


        <sly data-sly-call="${template.placeholder @ isEmpty=!properties.address}" />
        <sly data-sly-test="${properties.address}">
            <li>Address: ${properties.address}
        </sly>

        </li>
    </ul>