<header class="py-3 mb-1 border-bottom bg-light">
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
        <div class="me-3 mx-5">
            <i class="fa-brands fa-java fa-2x"></i>
        </div>

        <div class="d-flex align-items-center">
            <form class="w-100 me-3">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>
        </div>
    </div>
</header>