<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html" />
<sly data-sly-call="${template.placeholder @ isEmpty=!properties.title}" />
<sly data-sly-test="${properties.title}">
        <h3>${properties.title}</h3>
</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!properties.text}" />
<sly data-sly-test="${properties.text}">
        <p>${properties.text}</p>
</sly>
