<div class="container we-Container--main">
    <div class="root responsivegrid">
        <div class="aem-Grid aem-GridColumn aem-GridColumn--default--12">
            <div class="header aem-GridColumn aem-GridColumn--default--12" data-sly-include="header.html">

            </div>
            <div class="hero-image image parbase aem-GridColumn aem-GridColumn--default--12"
                style="padding-top: 100px;">
                <div>Hero Component</div>
                <div class="responsivegrid aem-GridColumn aem-GridColumn--default--12">
                    <div class="aem-GridColumn aem-GridColumn--default--12">
                        <div class="row">
                            <div>Breadcrumb</div>
                            <div class="we-Header">Title Component</div>
                            <div>Responsive Content Area</div>
                        </div>
                    </div>
                    <form class="page-print">
                        <input type="submit" value="Print Friendly" />
                    </form>
                    <div class="footer aem-GridColumn aem-GridColumn--default--12" data-sly-include="footer.html">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>