<footer class="we-Footer width-full">
    <div class="container">
        <div class="row">
            <div class="row we-Footer-section we-Footer-section--sub">
                <div class="we-Footer-section-item">
                    <div class="we-Logo we-Logo--big">
                        we.<strong>train</strong>
                    </div>
                </div>
                <div class="we-Footer-nav">
                    <h2>Footer Toolbar</h2>
                </div>
            </div>
        </div>
        <div class="row we-Footer-section we-Footer-section--sub">
            i18n Coded Content
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <a href="#top" class="btn btn-primary">Back to the top</a>
                </div>
            </div>
        </div>
        <sly data-sly-include="customfooterlibs.html" />
    </div>
</footer>