<div class="navbar navbar-inverse navbar-fixed-top hidden-xs">
    <div class="container-fluid">
        <nav style="color: white;">Language Navigation</nav>
        <ul class="nav navbar-nav navbar-right" style="color: white;">
            <sly>Toolbar</sly>
        </ul>
    </div>
</div>
<div data-sly-resource="${'site-topnav' @ resourceType='aemtutorials/components/structure/site-topnav'}"></div>

